*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
}

nav{
    display: flex;
    padding: .5rem;
    position: sticky;
    top: 0;
    background: #fff;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #c3c3c3;
     
    h1{font-size: 2rem;}

    ul{
        gap: 1rem;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: space-between;

        li{
            font: 600;
            font-size: 1.2rem;
        }
    }

    button{
        border: none;
        color: #fff;
        font: 600 2rem;
        border-radius: 10px;
        background: #ca832d;
        padding: .8rem 1.4rem;
    }
}

section{
    padding: 2rem;
    height: 100%;
    overflow: auto;

    h1{font-size: 2rem;}
    
    main{
        gap: 1rem;
        display: grid;
        padding-top: 1rem;
        grid-template-columns: repeat(4,1fr);

        .card{
            gap: 1rem;
            padding: 1rem;
            border-radius: 1rem;
            border: 1px solid #c3c3c3;
            
            h1{padding-bottom: 1rem;}        
            
            div{
                h3{padding-bottom: .5rem; color: #ca832d;}
            }
        }
    }
}

footer{
    display: flex; 
    padding: 20px; 
    bottom: 0;
    position: sticky;
    text-align: bottom;
    align-items: center;
    background-color: #f1f1f1; 
    justify-content: space-between; 
}