*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #1a1a1afe;
}

nav{
    color: #fff;
    display: flex;
    padding: .5rem;
    position: sticky;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #c3c3c3;
     
    h1{font-size: 2rem;}

    ul{
        gap: 1rem;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: space-between;

        li{
            font: 600;
            font-size: 1.2rem;
        }
    }

    button{
        color: #fff;
        border: none;
        font: 600 2rem;
        border-radius: 10px;
        background: rgb(110, 0, 110);
        padding: .8rem 1.4rem;
    }
}

section{
    padding: 2rem;

    h1{font-size: 2rem; color: beige;}
    
    main{
        gap: 1rem;
        display: grid;
        padding-top: 1rem;
        grid-template-columns: repeat(4,1fr);

        .card{
            gap: 1rem;
            color: #fff;
            padding: 1rem;
            border-radius: 1rem;
            border: 1px solid #c3c3c3;
            
            h1{padding-bottom: 1rem;}        
            
            div{
                h3{padding-bottom: .5rem; color: bisque;}
            }
        }
    }
}